<h1>What others have shouted at the bear for:</h1>
<p style="color: green"><%= flash[:notice] %></p>
<div id="bearbox-list">
  <% for bear_shout in @bear_shouts %>
    <div id="shout<%= bear_shout.id %>" class="bearshout">
      <table id="calendar_<%= bear_shout.id %>">

        <tr>
          <td>
            <p class="month"><%= Date::ABBR_MONTHNAMES[bear_shout.date_added.month] %></p>
            <p class="day"><%= bear_shout.date_added.mday %></p>
          </td>
          <td>
            <p class="name">
             <%= bear_shout.name %>
            </p>
          </td>
        </tr>

      </table>
      <p class="content">
        <%= h bear_shout.content %>
      </p>
    </div>
  <% end %>
  <p>
    <%= link_to 'New bear_shout', new_bear_shout_path %>
  </p>
</div>