<%= link_to image_tag("typo.png", :class => "typo"), :action => :index  %>

<p style="color: green"><%= flash[:notice] %></p>
 <p id="new-link">
   <%= link_to image_tag("add.png"), new_bear_shout_path%><%= link_to 'New bear_shout', new_bear_shout_path %>
  </p>
<div id="bearbox-list">
  <%= render (:partial => 'bear_shout', :collection => @bear_shouts) %>
</div>

<%= will_paginate @bear_shouts %>

<div id="bracket">&nbsp;</div>