<%= link_to image_tag("typo_new.png", :class => "typo"), :action => :index %>

<% form_for(@bear_shout) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 35 %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 10, :cols => 40 %>
  </p>
  <p>
    <%= recaptcha_tags %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<div id="bracket">&nbsp;</div>
