<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>&gt;&gt;BEARBOX&lt;&lt; <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'bearbox' %>
  <%= auto_discovery_link_tag(:rss, :controller => 'bear_shouts', :action => 'index', :format => 'rss') %>
</head>
<body>
<div id="bearbox-top"/>

<div id="content">
<%= yield  %>

&copy; 2009 by S. Heuberger, part of the webtrash network.
</div>

<div id="bearbox-teddy" />
</body>
</html>
